<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="/static/js/Tago_navbar.js" defer></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/ssu_c.css' %}"
    />
    <title>community detail</title>
  </head>
  <body>
    {% include 'base.html'%}
    <div class="main_detail">
      <div class="detail-top">
        <form method="POST" action="{%url 'commu_like' %}">
          {%csrf_token%}
          <div class="cmd">
            
            <input
              type="hidden"
              class="communityid"
              id="communityid"
              name="communityid"
              value="{{community.id}}"
            />
            <img src="/static/img/Heart.png" alt="" class="like">
            <input
              type="submit"
              name="save"
              id="save"
              value="좋아요"
              class="cmd_submit"
            />
          </div>
        </form>
        <div class="detail-title">
          <h3>{{community.title}}</h3>
          <h4>{{community.writer}}</h4>
        </div>
      </div>
      <div class="community_detail_content">
        <div class="community_date">
          <p>{{community.subdate}}</p>
        </div>
        <p>{{community.content}}</p>
      </div>
    </div>
  </body>
</html>
