<!DOCTYPE html>
<html lang="en">
    
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/ssu_a.css' %}" type="text/css">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="/static/js/Tago_navbar.js" defer></script>

    <title>Document</title>
</head>
<body>
    
    {% include 'base.html' %}
    <div class="page-title">
      <h1><span style="color: var(--mint)">coconut</span> sign up</h1>
      <h2>STORE</h2>
    </div>
    <div class="signup-box">
      <form method="POST" action="{%url 'signup_storeowner' %}">
        {%csrf_token%}
        <br />
        <br />
        {%if error%}
        <p>{{error}}</p>
        <br />
        {%endif%}
        <div class="signup-content">
          <h3>ID</h3>
          <input name="id" type="text" />
          <br />
          <br />
          <h3>비밀번호</h3>
          <input name="password" type="password" />
          <br />
          <br />
          <h3>비밀번호 확인</h3>
          <input name="passwordCheck" type="password" />
          <br />
          <h3>이름</h3>
          <input name="name" type="text" />
          <br />
          <h3>닉네임</h3>
          <input name="nickname" type="text" />
          <br />
          <h3>e-mail</h3>
          <input name="email" type="text" />
          <br />
          <h3>전화번호</h3>
          <input name="phonenumber" type="text" />
          <br />
          <h3>SNS</h3>
          <input name="sns" type="text" />
          <br />
        </div>
        <input type="submit" class="signup-submit" value="제출하기" />
      </form>
    </div>
</body>
</html>

