{% extends 'base.html' %}
{% block content %}
    <h1>고객 회원가입</h1>
    <form method = "POST" action="{%url 'signup_customer' %}">
        {%csrf_token%}
        <br>
        <br>
        {%if error%}
            <p>{{error}}</p>
            <br>
        {%endif%}

        <h3>ID</h3>
        <input name = "id" type="text">
        <br>
        <h3>비밀번호</h3>
        <input name = "password" type="password">
        <br>
        <h3>비밀번호 확인</h3>
        <input name = "passwordCheck" type="password">
        <br>
        <h3>이름</h3>
        <input name="name" type="text">
        <br>
        <h3>e-mail</h3>
        <input name="email" type="text">
        <br>
        <h3>주소</h3>
        <input name="address" type="text">
        <br>
        <h3>전화번호</h3>
        <input name="phonenumber" type="text">
        <br>
        <h3>나이</h3>
        <input name="age" type="text">
        <br>
        <h3>성별</h3>
        <input name="gender" type="text">
        <br>
        <input type="submit" value="제출하기">
    </form>
{% endblock %}