.mypage-container {
  display: flex;
}

h4 {
  margin: 0;
}

.mypage-right {
  margin: 40px;
}
.purchasing {
  display: block;
  background-color: #f9f9f9;
  text-align: center;
  width: 80%;
  height: 15vw;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1.5px;
  margin-top: 2%;
}

.mini-nav {
  display: flex;
  justify-content: center;
  width: 80%;
}

.mini-nav-item {
  flex-grow: 1;
  margin: 40px 0 0 0;
}
.mini-nav-item button {
  width: 100%;
  border-radius: 0;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1.5px;
  background-color: #f9f9f9;
  height: 190%;
}

.written-container {
  margin-top: 40px;
  width: 80%;
  display: none;
}
.review-item {
  width: 90%;
  margin: 1% 5%;
}

.review-top {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.review-storetitle {
}

.review-top button {
  width: 10vw;
  height: 25px;
  background-color: var(--brown);
  color: white;
  border: none;
}


.review-content {
  border-radius: 0;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1.5px;
  background-color: #f9f9f9;
  margin: 10px 0 0 0;
  padding: 10px;
}

.date {
  font-size: 13px;
  color: #cccccc;
}

#write.new-review-container {
  margin-top: 40px;
  width: 800px;
}
.new-review-item {
  display: flex;
  flex-wrap: nowrap;
  margin: 40px 0 0 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.store {
  margin-left: 10px;
}
.menu {
  margin-left: 10px;
}

.new-review-item button {
  height: 40px;
  width: 10vw;
  background-color: var(--brown);
  color: var(--ivory);
  border: none;
  flex-grow: -0.5;
}
.view {
  width: 50%;
  flex-grow: 1;
}
