:root {
  /*color*/
  --mint: #7ad4a9;
  --brown: #754434;
  --ivory: #fffff4;

  /*size*/

  /*font size*/
  --title: 25px;
  --subtitle: 17px;
  --content: 15px;
}

h4 {
  font-size: 30px;
}
h3 {
  font-size: 50px;
}

h2 {
  font-size: 180px;
}
* {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  width: 98.7vw;
  height: auto;
  z-index: 2;
}

.img-text {
  position: absolute;
  top: 5%;
  left: 15%;
  text-align: center;
}
.main-content {
  position: relative;
  margin: 0;
  height: 710px;
  width: 98.7vw;
}

.main-conetent h2 {
  color: #ffffff;
}

.main-conetent h4 {
  color: #ffffff;
}
.main-slogan {
  margin-top: 15%;
}
.category-box {
  margin-top: 20px;
  background-color: var(--ivory);
  opacity: 0.7;
  height: 35vw;
  width: 70vw;
  padding: 5px;
}
.category-content {
  padding: 5px;
  margin: 20px 0 30px 0;
}
.category-content button {
  width: 40%;
  height: 4vw;
  margin: 3px 0 3px 0;
  font-size: 20px;
}

.category-content h4 {
  margin-bottom: 10px;
}