<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coconut</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ssu_a.css' %}">
    
</head>
<body class ="main-nav">
   <nav class="nav-container">
        {%if user.is_authenticated%}
            <div class="nav-item-left-container">
                <div class="nav-logo">
                    <a href = "{% url 'home'%}">
                       <img src="../static/img/coconut_logo.jpg" class="nav-logo-img">
                    </a>
                </div>

                <div class="nav-item-menu">
                    <li><a href="">Store</a> </li>
                    <li><a href="">Community</a> </li>
                    <li><a href="">Product</a> </li>
                </div>
            </div>

            <div class="nav-item-right-container">
                <li><a href="{% url 'qrpage'%}">QR</a> </li>
                <li><a href="{% url 'logout'%}">로그아웃</a> </li>
                <li><a href="">마이페이지</a> </li>
            </div>
        {%else%}
            <div class="nav-item-left-container">
                <div class="nav-logo">
                   <a href = "{% url 'home'%}">
                       <img src="../static/img/coconut_logo.jpg" class="nav-logo-img">
                    </a>
                </div>

                <div class="nav-item-menu">
                    <li><a href="">Store</a> </li>
                    <li><a href="">Community</a> </li>
                    <li><a href="">Product</a> </li>
                </div>
            </div>

            <div class="nav-item-right-container"></ul>
                <li><a href="{% url 'login'%}">로그인</a> </li>
                <li><a href="{% url 'signup_choice'%}">회원가입</a> </li>
                <li><a href="">마이페이지</a> </li>
            </div>
        {%endif%}
    </nav>

    <main>
        {%block content%}
        {%endblock%}
    </main>

</body>
</html>