<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Tago_mypage.css' %}" type="text/css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>coconut</title>
  </head>

  <body class="main">
      {% include 'base.html' %}
      <div class="mypage-container">
          {% include 'mypage.html' %}
              <div class="mypage_right_container">
                  {% comment %} <p>{{likestores|safe}}</p> {% endcomment %}    
                  <div class="wish_contents_box">
                      <div class="wish_box_top">
                          <li>찜한 가게 목록</li>
                          <li>2021년 08월 04일</li>
                      </div>
                      <div class="wish_line"></div>
                      <div class="wish_contents">
                          <div class="wish_picture"></div>
                          <div class="wish_contents_detail">
                              
                          </div>
                      </div>
                      {% comment %} <div class="wish_options">
                              <div class="wish_button">자세히 보기</div>
                      </div> {% endcomment %}
                  </div>
              </div>
      </div>
    </body>
</html>

  <script>
      var likestores = {{likestores|safe}};
      var container = document.getElementsByClassName("wish_contents_detail")
      for(var i in likestores){
          var storeDIV = document.createElement("div")
          storeDIV.innerHTML = String(likestores[i])
          storeDIV.setAttribute("class","likestore")

          container[0].appendChild(storeDIV)
      }
  </script>
