<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Tago_mypage.css' %}" type="text/css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="/static/js/Tago_navbar.js" defer></script>

    <title>coconut</title>
  </head>

  <body class="main">
    {% include 'base.html' %}
        <div class="mypage-container">
            {% include 'mypage.html' %}
        <div>

        <h1>mycoupon page</h1>
        <br>
        <br>
        {% comment %} <p>{{coupon}}</p> {% endcomment %}
        <div class = "mycoupon-conatainer">
            {% comment %} <button onclick=location.href="{%url 'usecoupon' 1%}">사용하기</button> {% endcomment %}
        </div>
    
  </body>
</html>

<script>
    coupon = {{coupon|safe}}
    var container = document.getElementsByClassName("mycoupon-conatainer")
    for(var i=0; i<coupon.length -1 ;i++){
        var boxDIV = document.createElement("div")
        boxDIV.setAttribute("class","review-content")
        
        var contentDIV = document.createElement("div")
        contentDIV.innerHTML = "<p>"+String(coupon[i]) + "% 할인 쿠폰"+"</p>"
        contentDIV.setAttribute("class","content")

        
        var buttonDIV = document.createElement("div")
        buttonDIV.innerHTML = '<button onclick='+"\"location.href= \'" +'http://127.0.0.1:8000/mypage/usecoupon'+'?index='+i+  " \'\" "+'>사용하기</button ><br>';
        buttonDIV.setAttribute("class","button")
        

        boxDIV.appendChild(contentDIV)
        boxDIV.appendChild(buttonDIV)
        container[0].appendChild(boxDIV)
    }
</script>